@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
       var currentEnvironment = ViewData["environment"] as string;
}

<div class="text-center">
    <h1 class="display-4">Hina</h1>
    
    <p>This is my home page for AZURE V003 - MS DEVOPS SP 2023 - shown to my friend </p>
   <p>V.1.0003 </p> 
   
   <p>28/03/2023 15:58 </p> 
    <p>This is the @currentEnvironment Environment </p> 
 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
